/* Reset and Basic Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
}

/* Header Top Section */
.header-top {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
}

.header-top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.header-top div {
    display: contents;
    align-items: center;
}

.header-top div span {
    margin-left: 15px;
}

.header-top div span a {
    color: #fff;
    text-decoration: none;
}
.header-top .container .left-side i {
    color: #eca518;
    font-size: 16px;
}

.header-top .container .social-media i {
    
    color: #eca518;

}



/* Navigation Bar */
.navbar {
    background-color: #000;
    padding: 30px;
    text-align: center;
    
}

.navbar .container {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

/* Logo */
.logo img {
    height: 50px;
}

/* Navigation Links */
.nav-links a {
    color: #eca518;
    margin: 0 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    position: relative;
}

.nav-links a:hover, .nav-links a.active {
    color: #b84c04;
}

.nav-links a.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #eca518;
    bottom: -5px;
    left: 0;
}

/* Button */
.quote-button {
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #eca518;
    color: #eca518;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.quote-button:hover {
    background-color: #57b60a;
    border: 1px solid #57b60a;

    color: #ffffff;
}


/* الصورة الكبيرة مع النصوص */
.hero-section {
    background-image: url('images/image1.jpg');
    background-size: cover;
    background-position: center;
    height: 70vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    color: #fff;
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero-content h4 {
    font-size: 18px;
    color: #b8c7ff;
    margin-bottom: 10px;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 5px;
}

.hero-content h2 {
    font-size: 30px;
    color: #e58d18;
    font-weight: bold;
    margin-bottom: 15px;
}

.hero-content p {
    font-size: 16px;
    margin-bottom: 20px;
}

.hero-content .buttons button {
    background-color: #333333;
    border: none;
    color: #fff;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 14px;
}
.hero-content .buttons .button2{
    background-color: #ffab40;
    color: #000;
}
.hero-content .buttons .button2:hover {
    background-color: #78af1e;
    color: #fff;
}
.hero-content .buttons button:hover {
    background-color: #78af1e;
}

/* بوكس الحقول */
.form-box {
    
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: -30px auto 30px;
    width: 80%;
    max-width: 700px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 2;
}

.form-box input,
.form-box button {
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
}

.form-box input {
    flex: 1;
    background-color: #fff;
    color: #333;
}

.form-box button {
    background-color: #e58d18;
    color: #fff;
    cursor: pointer;
}

.form-box button:hover {
    background-color: #ffab40;
}

/* قسم "عنّا" */
.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin-left: 100px;
    background-color: black;
}

.about-section img {
    width: 80%;
    border-radius: 10px;
    margin-right: 20px;
}

.about-content h3 {
    font-size: 24px;
    color: #e58d18;
    margin-bottom: 10px;
}

.about-content p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 15px;
}

.about-content ul {
    color: #fff;
    list-style: none;
    margin-bottom: 15px;
}

.about-content ul li {
    font-size: 16px;
    margin-bottom: 5px;
}
.about-content ul li i{

    color: #ac7919;

    font-size: 12px;
    margin: 3px;
    padding: 2px;
}

.about-content button {
    background-color: #ac7919;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

.about-content button:hover {
    background-color: #4e7cfc;
}

 /* Our Achievements */
.e-con-inner {
    background-color: #ac7919;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 20px; 
    max-width: calc(1200px - 100px); 
    width: 100%;
    padding: 0 50px; 
}

.itmes {
    display: flex;
    align-items: center; 
    gap: 10px; 
    color: #ffffff; 
    position: relative; 
}

.itmes img {
    height: 50px; 
    width: 50px;
}

.itmes h2, .itmes h4 {
    margin: 0; 
}

.itmes h4 {
    font-size: 0.9rem; 
    opacity: 0.8; 
}


.itmes:not(:last-child)::after {
    content: '';
    position: absolute;
    right: -10px; 
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #ffffff;
}





/* What We Do */
.Whatwedo {
    background-color: #000000;
    padding: 0px 100px;
}
.Whatwedo .text{
    text-align: center;
    
}
.Whatwedo .text h2{
    font-size: 16px;
    color: #ac7919;
    padding-top: 20px;
}
.Whatwedo .text h1{
    font-size: 32px;
    color: #ac7919;
    padding-top: 20px;
}

.Whatwedo .items {
    align-items: center;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-items: center;
    justify-content: space-between;

}
.Whatwedo .items .item img{
    width: 100px;

}
.Whatwedo .items .item {
    width: auto;
    padding: 0 60px;

}
.Whatwedo .items .item h2{
    font-size: 16px;
    color: #e58d18;
}
.Whatwedo .items .item p{
    font-size: 12px;
    color: #fff;
}





.Whychooseus {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}


.Whychooseus .left-image img {
    width: 100%;
    max-width: 400px;
    height: auto;
}


.Whychooseus .container-rigt {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
}


.Whychooseus .container-rigt .text-top h2 {
    font-size: 1.5rem;
    color: #ac7919;
    margin: 0;
}

.Whychooseus .container-rigt .text-top h1 {
    font-size: 2rem;
    margin: 0;
    color: #ac7919;
}


.Whychooseus .container-rigt .items {
    display: flex;
    flex-direction: column;
    gap: 30px; 
    position: relative;
    padding-left: 40px; 
}


.Whychooseus .container-rigt .items::before {
    content: '';
    position: absolute;
    left: 22px; 
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #ac7919; 
    z-index: 1; 
}


.Whychooseus .container-rigt .items .item {
    position: relative;
    padding-left: 30px; 
}


.Whychooseus .container-rigt .items .item::before {
    border-radius: 2px;
    content: '';
    position: absolute;
    left: -25px; 
    top: -7px; 
    width: 15px;
    height: 15px;
    background-color: #ac7919;
    transform: rotate(45deg); 
    z-index: 2; 
}


.Whychooseus .container-rigt .items .item h1 {
    font-size: 1.25rem;
    margin: 0 0 5px 0; 
    color: #ac7919;
}

.Whychooseus .container-rigt .items .item p {
    font-size: 1rem;
    color: #fff;
    margin: 0;
}

/* Projects Section */
.projects-section {
    text-align: center;
    padding: 50px 0;
    align-items: center;
    justify-items: center;
}

.projects-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 100px
}

.title-section h3 {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.title-section h2 {
    font-size: 28px;
    color: #d4a23a;
    font-weight: bold;
    margin-bottom: 40px;
}

.project-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.project-card {
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    color: #000;
    transition: transform 0.3s;
}

.project-card img {
    width: 100%;
    height: auto;
}

.project-card p {
    font-size: 16px;
    font-style: italic;
    color: #d4a23a;
    padding: 10px 0;
}

.project-card:hover {
    transform: scale(1.05);
}


/* Arbeitsprozess Section */
.arbeitsprozess-section {
    padding: 50px 0;
    align-items: center;
    justify-items: center;
}

.title-section  {
    align-content: center;
    text-align: center;
    justify-content: center;
}
.title-section h3 {
    font-size: 16px;
    color: #d4a23a;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.title-section h2 {

    font-size: 32px;
    color: #d4a23a;
    font-weight: bold;
    margin-bottom: 40px;
}

.steps-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.arbeitsprozess-section .steps-container .step {
    width: 200px;
    text-align: center;
    color: #fff;
}

.arbeitsprozess-section .steps-container .step img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}

.arbeitsprozess-section .steps-container .step h4 {
    font-size: 18px;
    color: #d4a23a;
    margin-bottom: 10px;
}

.arbeitsprozess-section .steps-container .step p {
    font-size: 14px;
    color: #fff;
}


/* Präsentation Section */
.praesentation-section {
    position: relative;
    height: 600px; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    overflow: hidden;
}

.video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    z-index: 0;
    overflow: hidden;
}

.video-background iframe {
    width: 177.78vh; 
    height: 100vh;
    pointer-events: none; 
}

.praesentation-sectio .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.text-container {
    position: relative;
    z-index: 2;
}

.text-container h3 {
    font-size: 16px;
    color: #d4a23a;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.text-container h2 {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    max-width: 800px;
}


/* Footer Styling */
.footer {

    position: relative;
    background-color: #222;
    color: white;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    background-image: url('images/image1.jpg');
    background-size: cover;
    background-position: center;
}

.footer-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.footer-content {

    padding-left: 50px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {

    flex: 1 1 30%;
    min-width: 200px;
    margin: 10px;
}

.footer-section h3 {
    font-size: 18px;
    color: #f90;
    border-bottom: 2px solid #555;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.footer-section a {
    color: #ccc;
    display: flex;
    align-items: center;
    margin: 8px 0;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-section a:hover {
    color: #f90;
    text-decoration: underline;
}

.footer-section a::before {
    content: '›';
    margin-right: 8px;
    color: #f90;
    font-size: 12px;
}

.footer-section p {
    font-size: 14px;
    margin: 6px 0;
    color: #ccc;
}

.fixed-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #f90;
    color: white;
    padding: 12px 24px;
    text-align: center;
    border-radius: 30px;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

.fixed-button:hover {
    background-color: #e68000;
    transform: scale(1.05);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%; 
    padding: 10px 50px;
    color: gold;
    font-size: 14px;
    margin-top: 30px;
    border-top: 1px solid gold;
}

.footer-bottom .left-text {
    text-align: left; 
}

.footer-bottom .right-text {
    text-align: right; 
}


/* About Us section */
.about-us {
    width: 100%; 
    height: 100%;
    position: relative; 
    overflow: hidden; 
}

.about-us .title {
    z-index: 4;
    justify-content: center;
    text-align: center;
    align-items: center;
    justify-items: center;
    position: absolute;
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.about-us .title h1 {
    color: #ffffff;
    font-size: 60px;
}

.about-us .title p {
    color: #fff;
    font-size: 20px;
}

.about-us img {
    width: 2400px; 
    height: 300px;
    object-fit: cover;
}

.about-us .overlay {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}
.whatwedo-Aboutus {
    display: flex;                  
    justify-content: center;        
    align-items: center;           
    min-height: 100vh;             
}

.whatwedo-Aboutus .container {
    justify-content: center; 
    align-items: center;
    margin-top: 40px;
    
    display: flex;
    
}
.whatwedo-Aboutus .container img{
    
    width: 500px;
}
.whatwedo-Aboutus .container .rigt-section .titels h2{
    
    color: #57b60a;
    margin-bottom: 20px;
}
.whatwedo-Aboutus .container .rigt-section .titels h1{
  
    font-size: 35px;
    color: #464646;
    
}
.whatwedo-Aboutus .container .rigt-section .titels p{
    font-size: 16px;
    color: #464646;
    margin-top: 30px;
    margin-bottom: 40px;
}
.whatwedo-Aboutus .container .rigt-section .items  {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 15px;

}
.whatwedo-Aboutus .container .rigt-section .items .item h1{
    font-weight: normal;
    font-size: 40px;
    color: #464646;
}
.whatwedo-Aboutus .container .rigt-section .items .item p{
    font-size: 13px;
    color: #57b60a;
}

.whatwedo-Aboutus .container .rigt-section h1{
    color: #4e7cfc;
    font-size: 20px;
    margin-top: 10px;
}


.advantages-section {
    display: flex;                  
    justify-content: center;        
    align-items: center;           
    min-height: 100vh;   
    width: 100%;
    height: 600px;
    display: flex;
    padding: 50px;
    gap: 20px;
    position: relative;
}

.advantages-section .background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('images/image1.jpg');
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.advantages-section .background-image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(36, 126, 211, 0.8); 
    backdrop-filter: blur(3px); 
}

.advantages-section  .left-section, .right-section {
    
    justify-content: center;
    position: relative;
    z-index: 1; 
}

.advantages-section  .left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feature {
    display: flex;
    gap: 10px;
}

.icon {
    color: #b1ff32;
    font-size: 24px;
}

.feature h3 {
    color: #ffffff;
    font-weight: bold;
}

.feature p {
    color: #ffffff;
}

.right-section {
    
    flex: 1;
    padding: 20px;
}

.right-section h2 {
    color: #b1ff32;
    font-size: 18px;
    font-weight: bold;
}

.right-section h1 {
    color: #fff;

    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px
}

.progress-bar {
    margin: 10px 0;
}

.progress-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px; 
}

.name {
    color: #fff;
    font-size: 13px;
}

.percentage {
    color: #fff;
    
    font-size: 13px;
}

.bar {
    width: 100%;
    height: 8px;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
}

.bar div {
    height: 100%;
    background-color: #b1ff32;
}




/* Container for the entire section */
.roadmap-section {
    position: relative;
    margin: auto;
    padding: 20px;
    z-index: 1;
}

/* Background image with overlay */
.roadmap-section .background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('images/image1.jpg');
    background-size: cover;
    background-position: center;
    z-index: 0; 
}

.roadmap-section .background-image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(36, 126, 211, 0.5); 
    backdrop-filter: blur(3px); 
    z-index: 1;
}

/* Header styling */
.roadmap-section .roadmap-header {
    z-index: 2;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.roadmap-section .roadmap-header h3 {
    color: #e6ef00;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.roadmap-section .roadmap-header h1 {
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

/* Navigation Bar with Arrows */
.roadmap-section .roadmap-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}

.roadmap-section .roadmap-navigation .nav-arrow {
    background-color: #e6ef00;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.roadmap-section .roadmap-navigation .timeline {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 0 15px;
}

.roadmap-section .roadmap-navigation .timeline span {
    color: #333;
    font-size: 14px;
}
/* Cards styling */
.roadmap-cards {
    width: 100%;
    display: flex;
    overflow: hidden;
    gap: 20px;
    position: relative;
    z-index: 2;
    transition: transform 0.3s ease; 
}

.roadmap-cards .card {
    flex: 0 0 calc(33.33% - 20px); 
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
}

.roadmap-cards .card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.roadmap-cards .card h2 {
    color: #333;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.roadmap-cards .card p {
    color: #555;
    font-size: 14px;
    line-height: 1.6;
}

/* Hover effect for cards */
.roadmap-cards .card:hover {
    transform: scale(1.05);
}

/* Hide extra cards after the third */
.roadmap-cards .card:nth-child(n+4) {
    display: none;
}

/* Styling for navigation buttons */
.roadmap-navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.roadmap-navigation button {
    background-color: #00ff57;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    margin: 0 10px;
}

.roadmap-navigation button:hover {
    background-color: #00cc45;
}


/* تنسيق قسم الفريق */
.team-section {
    justify-content: center;
    justify-items: center;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.team-section .header {
    margin-top: 25px;
    color: #00cc45;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.team-section .subheader {
    color: #e6ef00;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.team-section .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.team-section .container .card {

    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 200px; 
    text-align: center;
    padding: 10px;
}

.team-section .container .card .card-image {
    width: 100%;
    height: auto;
}

/* services section */

.services ,.contact{
    width: 100%; 
    height: 100%;
    position: relative; 
    overflow: hidden; 
}

.services ,.contact .title {
    z-index: 4;
    justify-content: center;
    text-align: center;
    align-items: center;
    justify-items: center;
    position: absolute;
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
.services ,.contact .title p{
    color: white;
}
.services ,.contact .title h1 {
    color: #000000;
    font-size: 60px;
}

.services ,.contact .image img {

    width: 300vh; 
    height: 300px;
    object-fit: cover;
}

.services ,.contact .overlay  {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}
.services ,.contact .container {
margin: 20px;

}

.why-choose-us{
    justify-content: center;
    justify-items: center;
}

.why-choose-us .container{

    width: 100%;
    height: auto;
    padding: 50px;
    margin-top: 50px;
    display: grid;
}

.why-choose-us .container .titles h1{
    color: #fff;
    margin-bottom: 10px;
    font-size: 30px;
}
.why-choose-us .container .titles h2{
    color: #d4a23a;
    margin-bottom: 20px;
    font-size: 30px;

}
.why-choose-us .container .titles h3{
    color: #fff;
}
.why-choose-us .container .items i{
    color: #d4a23a;
}
.why-choose-us .container .items {
    display: flex;
    margin-top: 30px;
    padding: 20px 10px 20px 20px ;
    color: #fff;
}
.why-choose-us .container .items .rigt-item {
    display: grid;
    padding-left: 40%;
}
.why-choose-us .container .items .left-item {
    display: grid;
    

}


.exceptional-services {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 90%; 
    margin: 100px auto; 
}

.exceptional-services .container {
    display: grid; 
    width: 100%; 
}

.exceptional-services .container .titles {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    text-align: center; 
}

.exceptional-services .container .titles h2 {
    color: #fff;
    font-size: 20px;
}

.exceptional-services .container .titles h1 {
    color: #ac7919;
    margin-top: 10px;
    font-size: 40px;
}

.exceptional-services .container .titles p {
    color: #fff;    
    margin-top: 10px;
    font-size: 25;
    margin-bottom: 20px;
}

.exceptional-services .container .items {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
}

.exceptional-services .container .items .item {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    flex: 0 1 calc(25% - 10px); 
    margin-bottom: 20px; 
}

.exceptional-services .container .items .item h1 {
    color: #ac7919;
    font-size: 19px;
}

.exceptional-services .container .items .item p {
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.exceptional-services .container .items .item img {
    width: 60px;
    height: 60px;
    margin-top: 15px;
}


.working-time-schedule {
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}


.working-time-schedule .container {
    
    display: grid;
    text-align: center;
}

.working-time-schedule .container .header {
    color: #fff;
    padding: 1em; 
    border-radius: 15px;
    margin-bottom: 1em; 
    position: relative; 
    top: 0; 
}

.working-time-schedule .container .header h1 {
    color: #fff;
    font-size: 16px;
}

.working-time-schedule .container .header h2 {
    margin-top: 20px;
    color: #ac7919;
    font-size: 44px;
}

.working-time-schedule .container h1 {
    font-size: 2em;
    margin-bottom: 0.2em; 
}

.working-time-schedule .container h2 {
    font-size: 1.5em;
    margin-bottom: 0; 
}

.working-time-schedule .container .table-container {
    margin: 0 auto; 
}

.working-time-schedule .container table {
    width: 800px; 
    max-width: 800px; 
    border-collapse: collapse;
    border-radius: 15px; 
    overflow: hidden;
    margin: 0 auto;
    background-color: #da9d2c; 
    color: black; 
    transition: background-color 0.3s ease; 
    margin-bottom: 40px;
}

.working-time-schedule .container table td {
    padding: 1em 2em; 
    text-align: left; 
    border: none;
}

.working-time-schedule .container table td.time {
    text-align: right; 
    font-weight: bold; 
}

.working-time-schedule .container table tr:hover {
    background-color: #fff; 
    color: black; 
}

.working-time-schedule .container table tr:last-child {
    background-color: #555; 
    color: #fff; 
}

.working-time-schedule .container table tr:last-child:hover {
    background-color: #444; 
}


.working-time-schedule .container table tr td {
    border-bottom: 1px solid #ccc; 
}








.need-cleaning-services {
    position: relative;
    width: 100%; 
    max-width: 1300px; 
    height: 400px;
    margin: 50px auto; 
    background: url('images/image-9.jpg') center/contain no-repeat; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    overflow: hidden;
    background-color: #000; 
}


.need-cleaning-services .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 1;
}


.need-cleaning-services .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    z-index: 2;
    color: #fff;
}


.need-cleaning-services .left {
    max-width: 50%;
}

.need-cleaning-services .left h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.need-cleaning-services .left h2 {
    font-size: 2rem;
    color: #ac7919;
    margin: 10px 0; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.need-cleaning-services .left p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}


.need-cleaning-services .left .contact {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 1px 15px;
    color: #fff;
    margin-left: 0px;
    margin-top: 10px; 
}

.need-cleaning-services .left .contact .icon {
    color: #d4a23a;
    width: 24px;
    height: 24px;
}

.need-cleaning-services .left .contact p {
    margin: 0; 
}

.need-cleaning-services .left .contact span {
    margin-left: 5px; 
}


.need-cleaning-services .right {
    text-align: right;
    color: #ac7919;
}
.need-cleaning-services .right .logo {
    width: 300px;
    max-width: 100%; 
    height: auto;
}



.work-process {
    display: grid;
    justify-items: center;
    text-align: center;
    padding: 50px 20px;
}

.work-process .container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 50px 20px;
    color: #fff; 
}


.work-process .title {
    margin-bottom: 40px; 
}

.work-process .title h1 {
    font-size: 2.5rem;
    color: #9bff00; 
    margin-bottom: 10px;
}

.work-process .title h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.work-process .items {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.work-process .item {
    border: 2px solid #fff;
    border-radius: 8px; 
    padding: 20px;
    text-align: center;
    width: 300px; 
    background-color: transparent; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.work-process .item i {
    font-size: 2.5rem;
    color: #ac7919; 
    margin-bottom: 10px;
}

.work-process .item h1 {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.work-process .item a,
.work-process .item p {
    font-size: 1.2rem;
    color: #fff;
    margin: 5px 0;
    text-decoration: none;
}

.work-process .item a:hover {
    color: #e6a619; 
}

.work-process .item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
}



.contact-form {
    display: flex;
    justify-content: space-between;
    align-items: start;
    background: url('/images/image-7.jpg') no-repeat center center/cover;
    padding: 40px;
    position: relative;
    color: #fff;
    width: 80%; 
    max-width: 1200px;
    margin: auto; 
    height: 80vh;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
    border-radius: 10px;
    margin-bottom: 40px;
}

.contact-form .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.contact-form .left-side {
    z-index: 2;
    width: 50%;
    padding-right: 20px;
    height: 100%;
}

.contact-form .maps {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form .map-item iframe {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    border: none;
}

.contact-form .right-side {
    z-index: 2;
    width: 50%; 
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    height: 100%; 
}
.contact-form .right-side label {
    font-size: 1.2rem;
    margin-bottom: 5px;
    display: block;
}

.contact-form .right-side input[type="text"],
.contact-form .right-side input[type="email"],
.contact-form .right-side textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.9);
    color: #000;
    font-size: 1rem;
}

.contact-form .name-section {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.contact-form .name-section input {
    width: 48%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: rgba(255, 255, 255, 0.9);
    color: #000;
    font-size: 1rem;
}

.contact-form .name-section label {
    display: block;
    margin-top: 5px;
    font-size: 1rem;
    color: #fff;
}

.contact-form .right-side label span {
    color: red;
    font-size: 1rem;
    margin-left: 5px;
}

.contact-form .gender-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form .gender-section .gender-group {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-form .gender-section label {
    font-size: 1rem;
    color: #fff;
}

.contact-form .gender-section input[type="radio"] {
    margin-right: 5px;
}

.contact-form .message-section button {
    background-color: #e08a2a;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.contact-form .message-section button:hover {
    background-color: #c9771e;
}



.faq-section {
    
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.container {
    display: inline;
    max-width: 800px;
    width: 100%;
}

.faq-header {
    text-align: center;
    margin-bottom: 40px;
}

.faq-header h1 {
    font-size: 2.5rem;
    color: #333;
}

.faq-header p {
    font-size: 1.2rem;
    color: #666;
}

.faq-questions {
    display: flex;
    flex-direction: column;
}

.faq-item {
    margin-bottom: 10px;
    border: 1px solid #ccc; 
    border-radius: 8px; 
    overflow: hidden;
}

.faq-item .question {
    padding: 15px;
    background-color: #e6e6e6; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.faq-item .question:hover {
    background-color: #d4d4d4; 
}

.faq-item .answer {
    display: none;
    padding: 15px;
    background-color: #fff; 
}

.faq-item.active .answer {
    display: block; 
}

.faq-item .question {
    max-height: 90px; 
    overflow: hidden;
    text-overflow: ellipsis;
}



/* تصميم القسم */
.newsletter-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; 
    
    position: relative;
    overflow: hidden;
  }
  
  .newsletter-section .container {
    margin-bottom: 50px;
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .newsletter-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background: url('/images/image-7.jpg') no-repeat center center/cover;
    z-index: 1;
    opacity: 0.5; 
  }
  
  .newsletter-section .newsletter-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    color: white;
    width: 90%;
    max-width: 800px;
  }
  
  .newsletter-section .newsletter-container .newsletter-title {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  
  .newsletter-section .newsletter-container .newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .newsletter-section .newsletter-container .newsletter-form .newsletter-input {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    flex-grow: 1;
  }
  
  .newsletter-section .newsletter-container .newsletter-form .newsletter-button {
    background-color: #cfa842;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .newsletter-section .newsletter-container .newsletter-form .newsletter-button:hover {
    background-color: #b38a35;
  }
  